<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Điều khoản, quy định sử dụng phần mềm</title>
<link href="../styles/general.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding:1em;text-align:justify;background: #fff;width:680px;">
<h3>&copy; 2009-2012 - Công ty TNHH công nghệ mạng Hà Nội - Tiếng Việt</h3>
<p>.....
</p>
<p>.....</p>
<p>.....</p>
<h4>I. .....</h4>
<p> 1. .....<br />
  2. .....<br />
  3. .....<br />
  4. .....<br />
</p>
<h4>II. ..... </h4>
<p> 1. .....<br />
  2. .....<br />
  3. .....<br />
  4. .....<br />
  5. .....<br />
</p>
<h4>III. .....</h4>
<p> 1. ..... <br />
  2. .....<br />
  3. .....<br />
</p>
<p>.....</p>
    <p style="padding:5px 10px;color:#000;text-align:right">.....</p>
</body>
</html>
